html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  display: block;
  width: auto;
}
/* Header Content */
#logo {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: black;
  color: white;
  align-items: center;
  padding:  0.66rem 0;
}

#logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

#newArrival {
  background-image: url(../../resources/images/moto.jpeg);
  background-repeat: no-repeat;
  background-size:  cover;
  height: 25rem;
  width: 100%;
}

#banner {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  width: 20rem;
  padding-left: 3rem;
  position: relative;
  top: 9rem;
  margin-left: 2rem;

}

#banner h3 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: .25rem;
}

#banner h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

#nav1 {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: firebrick;
  color: white;
  justify-content: center;
  padding:  0.66rem 0;
}

#nav1 span {
  margin: auto;
}

#menu {
  display: none;
}
/* Default Flex Containers */
.flex-container-row {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.block-container-inline {
  display: block;
  position: relative;
}

/* Section Content */

#gadgets {
/* justify-content: center; */
flex-wrap: wrap;
margin: auto auto auto 0;

}


#gadgets img {
  height: auto;
  width: 9rem;
  padding: 3rem;
  border: 4px solid black;
  margin-top: 3rem;
}

#gadgets span {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: auto;
  padding: 0.5rem;
}

#gadgets div {
  margin: auto;
}

#glasses img {
  padding: 5.5rem 3rem;
}


#info {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}

#info span {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: left;
  width: 15rem;
  padding: 1rem 2rem;
  margin-top: 3rem;

}

#info p {
  margin-bottom: 4rem;
}

footer {
  height: 5rem;
  background-color: black;
  color: white;
  text-align: left;
  padding-top: 3.4rem;
}

@media screen and (max-width:1024px) {
  #glasses  {
    display: none;
  }

  .menuOnly {
    display: none;
  }
  #menu {
    display: block;
  }


  @media screen and (max-width:470px) {

    #banner {
      width: auto;
    }

    #banner h3 {
      font-size: 1rem;
      padding-top: 2rem;
      padding-bottom: .25rem;
    }

    #banner h1 {
      font-size: 1rem;
      padding-bottom: 2rem;
    }

    #watch  {
      display: none;
    }

    #info {
      flex-wrap: wrap;
    }

    #info p {
      margin-bottom: 1rem;
    }

    footer {
      text-align: center;
    }

  }
