html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  display: block;
  width: 960px;
}
/* Header Content */
#logo {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: black;
  color: white;
  align-items: center;
  padding:  0.66rem 0;
}

#logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

#newArrival {
  background-image: url(../../resources/images/moto.jpeg);
  height: 25rem;
}

#banner {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  width: 20rem;
  padding-left: 3rem;
  position: relative;
  top: 9rem;
}

#banner h3 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: .25rem;
}

#banner h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

#nav1 {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: firebrick;
  color: white;
  justify-content: center;
  padding:  0.66rem 0;
}

#nav1 span {
  margin: auto;
}

/* Default Flex Containers */
.flex-container-row {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.block-container-inline {
  display: block;
  position: relative;
}

/* Section Content */

#gadgets {
justify-content: center;
flex-wrap: wrap;
height: auto;
margin: auto;

}


#gadgets img {
  height: 9rem;
  width: auto;
  padding: 2rem;
  border: 4px solid black;
  margin-top: 3rem;
}

#gadgets span {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: auto;
  padding: 0.2rem;
}

#gadgets div {
  margin: auto;
}


#info {
  display: flex;
}

#info span {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: left;
  width: 35%;
  padding: 1rem 2rem;
  margin-top: 3rem;
}


footer {
  height: 5rem;
  background-color: black;
  color: white;
  text-align: left;
}
